<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studentinformationmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentInformationManagement"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="false"  >

    </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="true">
       <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:label="Forgot Password"
            android:parentActivityName=".activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>

        <activity
            android:name=".activity.StudentManagementActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:exported="false" />

        <activity
            android:name=".activity.FormActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
<!--        <meta-data-->
<!--            android:name="com.facebook.sdk.ApplicationId"-->
<!--            android:value="@string/facebook_app_id" />-->

<!--        <activity-->
<!--            android:name="com.facebook.FacebookActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
<!--            android:label="@string/facebook_app_name"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

<!--        <activity-->
<!--            android:name="com.facebook.CustomTabActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="@string/facebook_login_protocol_scheme" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".activity.HistoryActivity"
            android:exported="false">
        </activity>

    </application>
</manifest>
